<h1><%= @surgery.title %></h1>
<h2>Room #<%= @surgery.operating_room_number %></h2>

<h3>Surgeries happening on same day</h3>
<section id="same-day-surgeries">
  <% @same_day_surgeries.each do |surgery| %>
    <p class="surgery"><%= surgery.title %></p>
  <% end %>
</section>

<h1>Add A Doctor To This Surgery</h1>
<%= form_with(url: surgery_doctor_surgeries_path(@surgery), local: true) do |f| %>
  <p>
    <%= f.label :name %><br/>
    <%= f.select(:name, options_for_select(@doctors)) %>
  </p>
  <p>
    <%= f.submit "Add Doctor" %>
  </p>
<% end %>

